label, textarea, select {
  display: block;
  width: 100%
}

fieldset {
  max-width: 500px;
margin: auto;
  background-color: rgba(0, 0, 0, 50%);
  border: 0;
}

h1, p {
  text-align: center;
  color: black;
  margin: 0 0 0.1em 0;
}

body {
  font-family: Calibri;
  color: white;
  background: grey;
}

input {
  height: 1.7em;
  width: 100%;
  display: block;
}

input[type="checkbox"] {
  width: unset;
  height: unset;
  display: unset;
}

input[type="radio"] {
  width: unset;
  height: unset;
    display: unset;

}

input[type="submit"] {
  margin: auto;
  margin-top: 10px;
  width: 100px;
  font-size: 20px;

}

img {
  display: block;
  margin: auto;
}
